* {
    font-family: verdana;
    background-color: black;
    text-align: center;
}

header {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: normal;
}

main p {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}